@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  /* Yellow-600 */
  --accent: #eab308;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
}

@layer utilities {
  .glass-dark {
    @apply bg-black/40 backdrop-blur-md border border-white/10;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
